/* Estilo para el contenedor de la app */
.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Título de la app */
.app-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo del input y botón de agregar tarea */
input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo de la lista de tareas */
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

/* Estilo para cada tarea */
.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.btn-delete {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #ff1a1a;
}

.completed-task {
  text-decoration: line-through;
  color: gray;
}

/* Estilo para los botones de filtro */
.filter-buttons {
  display: flex;
  justify-content: space-between; /* Distribuir espacio de manera uniforme */
  margin-bottom: 20px;
}

.filter-buttons button {
  flex-grow: 1;  /* Cada botón se adapta al espacio disponible */
  margin: 0 10px; /* Separación horizontal entre los botones */
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}